body{background-color: whitesmoke;margin: 0px;}
h1{color: brown;text-align: center;margin-top: 30px;}
.head{text-align: center;margin-bottom: 1px;margin-top: 10px;color: whitesmoke;
background-color: #C1C1C1;font-family:"楷体";font-size: 50px;}